.App {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
}
body{
  background-image: url(./Icons/bg.png);
  background-size: 50%;
}
html, body, #root, #root>div {
  height: 100% !important;
}

.left {
  background-color: green;
  display: inline-block;
  opacity: 0.6;
  color: white;
  padding: 2em;
  width: 40%;
  position: relative;
}
.formControl{
  display: inline-block;
  margin: 20px;
}
.right {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  width: 60%;
}

.left>p {
  margin: auto;
}

.esquina {
  content: url("./Icons/esquina.png");
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.comilla {
  content: url("./Icons/comilla.png");
  margin: auto;
}